/SeleccionadorDeNombres/nbproject/private/
/SeleccionadorDeNombres/build/
/Empleado/nbproject/private/
/Empleado/build/
/Elecciones Isaac/nbproject/private/
/ListaSimpleEstudiantes/build/
/ListaSimpleEstudiantes/nbproject/private/
/ListaSimpleEstudiantes (Isaac)/nbproject/private/
/ListaSimpleDesdeCero/nbproject/private/
/ListaSimpleDesdeCero/build/
